/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** declare a clear fix class for float ***/
.clear-fix:after{
	display: block;
	height: 0;
	content: ",";
	clear:both;
	visibility: hidden;
}

/*** declare the default font style ***/
html, body{
	font-size: 62.5%; /*** 1em = 10px ***/
	font-family: sans-serif;
	color: #ccc;
}

/*** declare the basic style of the outest calculator element ***/
#calculator{
    max-width: 32em;
	border-radius: 1em;
	border: 1px solid #999;
	margin: 1.8em auto;
    padding-bottom: 1em;
}

h1{
	padding:0.5em;
	font-size: 3em;
	text-align: center;
}

/*** declare the style of the display of the calculator ***/
#calDisplay{
	height: 2em;
	line-height: 2em;
	text-align: right;
	padding: 0.2em;
	width: 90%;
	margin: 0 auto;
	border-radius: 0.3em;
	border: 1px solid #999;
	font-size: 3em;
	color: #333;
}

/*** change the style of the calculator display when the answer is calculated ***/
#calDisplay.answer{
	background-color: #22EF00;
	color: #fff;
}

#buttons {
	width: 90%;
	margin: 0 auto;
	margin-top: 1.5em;
}

button{
	float: left;
	width: 3.2em;
	height: 3.2em;
	margin: 0.1em;
	border-radius: 0.4em;
	font-size: 3em;
	text-align: center;
}

button#zero, button#reset, button#eq{
	width: 6.6em;
}